body{
    background-color: rgb(202, 150, 250);
}
img{
    margin-top: 90px;
}

.shapes{
max-width: 400px;
  padding: 20px; 
  background-color: #9b6323; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
form{
     margin-top:50px ;
    height: 520px;
    width: 400px;
    position: absolute;
    left:60%;
    top:15%;
}
h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    font-weight: 500;
}
input{
    margin-top: 50px;
}
button{
    margin-top: 50px;
    width: 80%;
    margin-left: 80px;
    cursor: pointer;
}
p{
    font-size: 25px;
    line-height: 42px;
    text-align:left;
}