body{
    background-color: rgb(219, 192, 243);
}
img{
    margin-top: 90px;
}

form{
   
     margin-top:50px ;
    height: 520px;
    width: 400px;
    position: absolute;
    left:60%;
    top:15%;
}
h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    font-weight: 500;
}
input{
    margin-top: 50px;
}
button{
    margin-top: 50px;
    width: 80%;
    margin-left: 80px;
    cursor: pointer;
}
p{
    font-size: 25px;
    line-height: 42px;
    text-align:left;
}